@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
#notes {
  background: rgb(255,255,255);
  border-radius: 5px;
  width: 250px;
  min-height: 250px;
  color: #333;
  box-shadow: 0px 6px 8px rgba(0,0,0,0.5);
  padding: 10px;
}

#content{
  padding-top: 5px;
  text-align: center;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}